@import '../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }


  .card-container {
    width: 400px;
    height: auto;
  }
  .car{size: auto;}
}
