<div class="container">
    <div class="row">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Nom évènement</th>
              <th scope="col">Date d'enregistrement</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let registration of registrations">
              <td>{{registration.event.name_event}}</td>
              <td>{{registration.registration_date}}</td>
              <td> <i class="fa-solid fa-trash text-danger table-action-btn" (click)="deleteRegistration(registration.id_registration)" ></i> &nbsp; <a routerLink="/pages/evenement/edit-event"><i class="fa-solid fa-pen-to-square text-info table-action-btn"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
</div>
