
  <nb-card>
    <nb-card-header
      >
      <h3>{{ data.title }}</h3>
      <nb-tag-list>
        <nb-tag
          *ngFor="let t of data.threadTags"
          status="info" appearance="outline" 
          text='{{ t.name }}'
          (click)="TagClick(t)"></nb-tag
        >
      </nb-tag-list>
    </nb-card-header>
    <nb-card-body>
      A nebula is an interstellar cloud of dust, hydrogen, helium and other
      ionized gases. Originally, nebula was a name for any diffuse astronomical
      object, including galaxies beyond the Milky Way. {{ data.content }}
    </nb-card-body>
    <nb-card-footer>By {{ data.threadCreator.nom }}</nb-card-footer>
  </nb-card>
  <ng-container *ngFor="let comment of data.comments">
    <div class="comment">
      <div class="comment-header">
        <div class="comment-user">
          <nb-user [name]="comment.authorName" [picture]="comment.authorImage"></nb-user>
        </div>
        <div class="comment-date">
          {{ comment.date | date: 'dd/MM/yyyy hh:mm a'}}
        </div>
      </div>
      <div class="comment-content">
        {{ comment.content }}
      </div>
    </div>
  </ng-container>
  <div class="comment-container">
    <textarea rows="5"  [(ngModel)]="input" nbInput fullWidth shape="round"  placeholder="Text Area"></textarea>
  <button nbButton (click)="Post(input)" status="primary">Post</button>
</div>
