<div class="card-container">
  <nb-card class="my-card one">
    <nb-card-header>
      Number of available certifications 
    </nb-card-header>
    <nb-card-body>
      {{ numOfCertifs }}
    </nb-card-body>
  </nb-card>
  <nb-card class="my-card two">
    <nb-card-body>
      <canvas id="myChart" width="350" height="310"></canvas>
    </nb-card-body>
  </nb-card>
</div>

<nb-card>
  <nb-card-header>
    Certification
  </nb-card-header>
  <nb-card-body style="height: 300px; display: flex; flex-direction: column; justify-content: space-between;">
    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" (createConfirm)="onAddConfirm($event)" (editConfirm)="onEditConfirm($event)">
    </ng2-smart-table>
    <div style="text-align: center;">


    </div>
  </nb-card-body>
</nb-card>

<style>
  .card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .one {
    width: 30%;
    height: 150px;
  }
  
  .two {
    width: 68%;
    height: 350px;
  }
  
  .my-card {
    background-color: #f3ffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .my-card nb-card-header {
    font-size: 18px;
    font-weight: bold;
  }
  
  .my-card nb-card-body {
    font-size: 40px;
    color: #007bff;
  }
</style>
