<mat-paginator [length]="200" [pageSizeOptions]="[10, 50, 100]" aria-label="Select page">
<div *ngFor="let d of data">
<nb-card>
    <nb-card-header>Nebula</nb-card-header>
    <nb-card-body>
      A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
      Originally, nebula was a name for any diffuse astronomical object,
      including galaxies beyond the Milky Way.
    </nb-card-body>
    <nb-card-footer>By Wikipedia</nb-card-footer>
  </nb-card>
</div>
</mat-paginator>