
<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Subscription Statistics</nb-card-header>
      <nb-card-body>
        <chart type="pie" [data]="data" [options]="options"></chart>
    </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Gains</nb-card-header>
      <nb-card-body>
        <p>Total Revenue:  <span class="badge badge-primary large-badge">{{ totalAmount }} $</span></p>
        <p>Number of Orders:  <span class="badge badge-success large-badge">{{ orderCount }}</span></p>
        <p>Avg. Order Value:  <span class="badge badge-info large-badge">{{ AverageAmount }} $</span></p>
      </nb-card-body>
    </nb-card>
  </div>
</div>